$brand-blue: #0099f9;
$brand-navy: #15354a;
$brand-gray: #6e757b;
$brand-rose: #ff364a;

$blue-1: #eef7ff;
$blue-2: #99d6fd;
$blue-3: #4db8fb;
$blue-4: #006bae;
$blue-5: #d2ecfe;
$blue-6: #e8ebed;
$blue-7: #0081d1;
$blue-8: #7fc2ed;
$blue-9: #a6d5e0;

$navy-1: #a1aeb7;
$navy-2: #5b7280;
$navy-3: #0f2534;

$gray-1: #f4f5f6;
$gray-2: #b3b8ba;
$gray-3: #8a8e91;
$gray-4: #333;
$gray-5: #999;

$rose-1: #ffafb7;
$rose-2: #b32634;

$white: white;
$black: black;
$dark: #202b33;
$dark-hover: #303f49;
$dark-active: #3e4f5b;
$white: #ffffff;
$text-color: #3a4248;
$light-grey-text: #a2abb7;
$light-grey-borders: #e5e9ef;
$light-grey: #e2e4e5;
$light-grey-background: #f9fafa;
$grey-background: #f6f7f7;
$grey-border: #d8dfe7;
$grey-active: #f0f2f5;
$menu-border: #e7ebf0;
$menu-background-hover: #f4f6f9;
$green: #05c8a0;
$peach: #f7847d;
$peach-active: #fa8d86;
$blue: #2877f4;
$blue-hover: #4189fb;
$blue-active: #1f6de8;
$violet: #640570;