$time-transition: 0.2s;
$hex-transition: 0.3s cubic-bezier(0.1, 0.73, 0.64, 0.96);

$raleway: 'Raleway', sans-serif;
$maven-pro: 'Maven Pro', sans-serif;

$header-height: 7rem;
$header-height-mobile: 5.6rem;

$container-width: 128rem;
$container-space-xs: 1.6rem;
$container-space-md: 3.2rem;
